/* DEFAULTS */
* {
    font-family: "CodeNewRoman Nerd Font Propo";
    border: none;
    border-radius: 0;
    font-style: normal;
    min-height: 0;
    margin: 0;
    padding: 0;
}
window#waybar {
    background: rgba(24, 24, 28, 255);
    border-radius: 0 0 14px 14px;
    color: rgba(245, 245, 245, 255);
}
.modules-left,
.modules-center,
.modules-right {
    margin: 0 15px;
    min-height: 45px;
    /* background-color: yellow; */
}

/* MODULES center */
#mpris {
    font-size: 18px;
}

/* MODULES right */
#backlight,
#custom-volume,
#battery,
#language,
#memory,
#network,
#clock {
    font-size: 20px;
    min-width: 35px;
    margin: 0 4px;
    /* background-color: darkblue; */
}

/* WORKSPACES */
#workspaces {
    /* margin: 5px 5px; */
}
#workspaces button {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 28px;
    color: rgba(60, 68, 75, 255);
    background: radial-gradient(
        circle,
        rgba(60, 68, 75, 255) 50%,
        transparent 8%
    );
    transition: all 0.2s ease-in-out;
}
#workspaces button.active {
    color: rgba(225, 113, 148, 255);
    background: radial-gradient(
        circle,
        rgba(225, 113, 148, 255) 50%,
        transparent 8%
    );
}
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    color: rgba(225, 113, 148, 255);
    background: radial-gradient(
        circle,
        rgba(225, 113, 148, 255) 50%,
        transparent 8%
    );
}

/* ARCH LOGO */
#custom-arch {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 28px;
    transition: color 0.5s;
}
#custom-arch:hover {
    color: #1793d1;
}
